.hamburger {
    padding: 15px;
    background: #000;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 20px;
}

.hamburger div {
    height: 2px;
    background: #fff;
}

.hamburger .top {
    width: 100%;
}

.hamburger .middle {
    width: 50%;
}

.hamburger .bottom {
    width: 70%;
}